:root{
	--primary: #a705c4;
	--text-color: ehite;
	--white: white;
	--text-gray: #fefefe;
	--text-heading: #d0d0f7;
	--background: #edf0f9;
	--border: #aabfff;
}
body{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.menu{
	background-color: blue;
	width: 100%;
	height: 100px;
	position: fixed;
}
.menu li{
	list-style: none;
	width: 160px;
	height: 60px;
	background-color: blue;
	margin-left: 20px;
	text-align: center;
	line-height: 40px;
	float: left;
}
.menu li a{
	color: white;
	display: block;
	text-decoration: none;
}
.menu li a:hover{
	color: #0400a2;
	background-color: white;
	transform: scale(1.3);
	border-radius: 30px;
}
.menu li a{
	color: white;
	display: block;
	text-decoration: none;
}
.logo{
	width: 50%;
}
.inside{
	background-color: red;
}
.image{
	padding: 150px;
	margin: 50px 500px;
	box-sizing: border-box;
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50px;
	background-color: blue;
	border: 2px solid black;
	padding: 3px;
	display: flex;
}
#parag{
	font-weight: 600px;
	font-size: 20px;
	font-family: 'times new roman';
	margin: 80px 300px;
	padding: 100px;
	margin-top: 100px;
}

.subscribtion-section{
	margin-top: 500;
	padding: 48px 16px;
	max-width: 1024px;
	width: 100%;
}
.subscribtion-wraper{
	border-radius: 16px;
	padding: 24px;
	display: flex;
	min-height: 160px;
	gap: 32px;
	color: var(--primary);
	background: var(--background);
	flex-wrap: wrap;
	justify-content: start;
	align-items: center;
	justify-content: space-between;
}
.subscribtion-description{
	display: flex;
	flex-direction: column;
	gap: 12px;
	flex-grow: 1;
}
.subscribe-form{
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	flex-grow: 1;
}
.subscribe-form > input{
	border: 1px solid var(--button-border);
	color: var(--primary);
	outline: none;
	min-height: 48px;
	background-color: var(--white);
	font-size: 1.2rem;
	flex-grow: 3;
	padding: 8px 12px;
	border-radius: 8px;
}
.subscribe-form > input:focus{
	border: 1px solid var(--primary);
}
.subscribe-form > input::placeholder{
	color: var(--text-heading-gray);
}
.subscribe-form > button{
	cursor: pointer;
	background-color: var(--primary);
	border-radius: 8px;
	color: var(--white);
	font-size: 1.25rem;
	min-height: 48px;
	flex-grow: 1;
	white-space: nowrap;
	padding: 8px 12px;
	border: 0px;
	outline: none;
	border: 1px solid var(--button-border);
}
footer{
	bottom: 0px;
	background-color: var(--primary);
	width: 100%;
	min-width: 300px;
	bottom: 0px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.footer-wraper{
	display: flex;
	flex-direction: column;
	max-width: 1024px;
	width: 100%;
	padding: 16px;
}
.footer-links{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 4;
	gap: 48px 16px;
}
.footer-columns{
	display: flex;
	flex-wrap: wrap;
	padding: 24px 8px 36px 8px;
}
.footer-columns section, .footer-columns .footer-logo{
	display: flex;
	flex-direction: column;
	flex: 1 0 160px;
	max-width: 160px;
}
.footer-columns ul{
	display: flex;
	gap: 12px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	flex-direction: column;

	font-weight: 600;
}
.footer-columns ul a{
	color: var(--text-color);
	text-decoration: none;
}
.footer-columns ul a:hover{
	text-decoration: underline;
}
.footer-columns h3{
	color: var(--text-heading-gray);
	margin-top: 0;
	margin-bottom: 16px;
	font-size: 1rem;
}
.footer-logo{
	display: flex;
	gap: 16px;
	flex-grow: 1;
	max-width: 160px;
	margin-bottom: 48px;
}
.footer-logo img{
	stroke: var(--text-color);
	stroke-width: 8px;
	width: 50px;
	height: 50px;
}
.footer-bottom{
	margin-top: 48px;
	display: flex;
	align-items: end;
	width: 100%;
	gap: 16px;
	padding: 16px 0px;
	flex-wrap: wrap;
	justify-content: space-between;
	color: var(--text-color);
	border-top: 1px solid var(--border);
}
.footer-bottom > small{
	font-size: 16px;
}
.footer-headline > h2{
	color: var(--text-primary);
}
.footer-headline > p{
	color: var(--text-color);
	margin: 4px 0px 20px 0px;
}
.footer-description{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-description h3{
	margin-bottom: 8px;
}
.social-wraper{
	display: flex;
	width: 100%;
	gap: 8px;
	padding: 8px 0px;
	justify-content: end;
	margin-bottom: 16px;
	align-items: center;
	color: var(--text-color);
}
.social-links{
	display: flex;
	gap: 8px;
	align-items: center;
}
.social-links img{
	width: 80px;
	height: 80px;
	transition: all 0.2s ease-in-out;
}
.social-links img:hover{
	transform: scale(1.1);
}
.social-links ul{
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	list-style-type: none;
}
@media(min-width: 926px) {
	.footer-logo{
		margin-right: auto;
	}
}
@media(max-width: 800px) {
	.footer-top{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 16px 8px 32px 8px;
	}
.footer-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: o auto;
	text-align: center;
	}
.social-wraper{
	justify-content: center;
	}
}