body{
	background-color: red;
	justify-content: justify;
}
img{
	padding: 150px;
	margin: 250px 500px;
	box-sizing: border-box;
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50px;
	background-color: blue;
	border: 2px solid black;
	padding: 3px;
	display: flex;
}
p{
	font-weight: 600px;
	font-size: 20px;
	font-family: 'times new roman';
	margin: 300px;
	padding: 100px;
}
