body{
	background-color: #004400;
	font-family: 'Ubuntu Mono', monospace;
}
#ContactUs h1{
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	text-decoration: underline;
}
.form-shape{
	text-align: center;
	display: block;
	width: 50%;
	height: 50%;

}
#query{
	border-radius: 20px;
	border: 1px solid black;
}
#radio{
	text-align: center;
	display: block;
	width: 50%;
	height: 50%;	
}
#message{
	box-sizing: border-box;
	padding: 20px;
	
}